*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Section_top{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    animation: change 10s infinite ease-in-out;
 }
 
 @keyframes change{
    0%{
        background:rgba(0,0,0,0.5)  url('../img/bg1.jpg')  no-repeat;
       
        background-size: cover;
        background-blend-mode: darken;
        width: 100%;
        height: 100vh;
    }
    50%{
        background:rgba(0,0,0,0.5)   url('../img/bg2.jpg') no-repeat;
        
        background-size: cover;
        background-blend-mode: darken;
        width: 100%;
        height: 100vh;
    }
    100%{
        background: rgba(0,0,0,0.5)  url('../img/bg3.webp') no-repeat;
       
        background-size: cover;
        background-blend-mode: darken;
        width: 100%;
        height: 100vh;
    }
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    padding: 3px;
}
.logo img {
    width: 55%;
    border-radius: 50px;
    position: absolute;
    padding: 0px;
   margin-left: -280px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    margin-top: 33px;
    cursor: pointer;
    z-index: 9999;
    padding: 3px;
}
.nav-list{
 width: 70%;
 display: flex;
 align-items: center;
 margin-left: -160px;
}
.nav-list li {
 list-style: none;
 padding: 26px 30px;
}
.nav-list li a{
  text-decoration: none;
  color: white;
  font-size: 26px;
  font-family:'Ubuntu', sans-serif ;
}
.nav-list li a:hover{
    color: goldenrod;
}
.btn.btn-sm{
    height: 50px;
    border-radius: 10px;
    margin-left: -240px;
    border: 2px solid goldenrod;
    background: goldenrod;
    padding: 3px;
    font-size: 25px;
    font-family:'Ubuntu', sans-serif ;
    color: white;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}
.line{
    width: 33px;
    background-color: goldenrod;
    height: 4px;
    margin: 3px 3px;
}
.rightNav {

    text-align: right;
    
}

.firstSection{
    height: 100vh;
}
.box-main{
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 75%;
}
.firstHalf{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 64px;
}
.text-big{
    
    text-align: center;
    color: white;
}

.text-small{
     font-size: 30px;
     text-align: center;
     margin-top: 10px;
}

.btn{
       padding: 8px 20px;
       margin: 7px 3px;
       border: 2px solid goldenrod;
       border-radius: 8px;
       background: goldenrod;
       color: white;
       cursor: pointer;
       font-size:25px ;
       font-family:'Ubuntu', sans-serif ;
       border-width: medium;
       width: 200px;
       height: 60px;
      margin-left: 260px;
      margin-top: 10px;
}
.btn:hover{
    background-color: black;
}
.btn-sm{
       padding: 6px 10px;
       vertical-align: middle;
       font-size: 16px;
}
.ride{
    margin-top: 120px;
}
.heading{
    text-align: center;
}
.heading span{
    font-weight: 550;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 10px;
}
.heading h1{
    font-size: 2.25rem;
    font-weight: 400;
    color: goldenrod;
}
.ride-container{
    display: grid;
    align-items: justify;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 1.5rem;
    margin-top: 2rem;
    margin-left: 80px;
    margin-right: 80px;
    overflow: auto;
}
.ride-container .box{
    text-align: center;
    padding: 40px;
    border-radius: 2rem;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
    transition: all 0.5s linear;
}
.ride-container .box:hover{
   border-radius: 15%;
   background:beige;
}
.ride-container .box h2{
    font-size: 1.75rem;
    font-weight: 500;
    margin: 1.4rem 0 0.5rem;
}
.ride-container .box .bx{
    font-size: 40px;
    padding: 10px;
    background: #eeeff1;
    border-radius: 0.5rem;
    color: goldenrod;
}
.ride-container .box .bx:hover, .ride-container .bx .bxs-calendar-star{
    background: var(--gradient);
    color: black;
    
}
.ride-container .box p{
    font-size: 20px;
    text-align: justify;
}
.services{
    margin-top: 120px;
}
.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,auto));
    gap: 4rem;
    margin-top: 2rem;
    height: 1040px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 120px;
    overflow: auto;
}
.services-container .box{
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
}
.services-container .box .box-img{
    width: 100%;
    height: 290px;
    margin-bottom: 100px;
}
.services-container .box .box-img img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}
.services-container .box p{
    padding: 0 10px;
    border: 1px solid goldenrod; 
    width: 58px;
    border-radius: 0.5rem;
    margin: 1rem 0 1rem;
}
.services-container .box h3{
    font-weight: 500;
}
.services-container .box h2{
    font-size: 1.1 rem;
    font-weight: 600;
    color: goldenrod;
    margin: 0.2rem 0 0.5rem;
}
.services-container .box h2 span{
    font-size: 0.8rem;
    font-weight: 500;
    color: black;
}
.services-container .box .btns{
    display: flex;
    justify-content: center;
    background: black;
    color: white;
    padding: 10px;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.services-container .box .btns:hover{
    background: goldenrod;
}
.about-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 2rem;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 120px;
    overflow: auto;
}
.about-img img{
    width: 80%;
    height: 400px;
    margin-left: 80px;
}
.about-text span{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 25px;
}
.about-text p{
    margin: 0.5rem 0 1.4rem;
    font-size: 20px;
    margin-right: 80px;
    text-align: justify;
}
.about-text .btns{
    padding: 10px 20px;
    background: goldenrod;
    color: #fff;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 20px;
}
.about-text .btns:hover{
    background: black;
}
.reviews-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 1.5rem;
    margin-top: 2rem;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 120px;
    overflow: auto;
}
.rev-img{
    width: 70px;
    height: 70px;
}
.rev-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid goldenrod;
}
.reviews-container .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    transition: all 0.5s linear;
}
.reviews-container .box:hover{
    border-radius: 25%;
    background-color:antiquewhite;
}
.reviews-container .box h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;
    
}
.reviews-container .box p{
    font-style: italic;
    font-size: 20px;
}

.reviews-container .box .stars .bx{
    color: goldenrod;
}
footer{
    background: #343434;
    padding-top: 50px;
}
.contact-container{
    overflow: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 240px;
}

.contact-img{
    width:500px;
    margin-left: -510px;
    margin-top: 8px;
}
.contact-img img{
    width: 40%;
    height: 150px;
    margin-top: -45px;
}
.contact .contact-container .contact-img p{
    color: white;
    margin-top: -30px;
    font-size: 17px;
    text-align: justify;
}
.contact-container .box{
    margin-left: 200px;
    margin-right: 120px;
}
.contact-container .box h3{
   font-size: 20px;
   margin-bottom: 15px;
   text-align: center;
   color:white;
}
.contact-container .box p{
    width: 190px;
    margin: auto;
    padding: 5px;
    color: white;
    font-size: 17px;
}
.footer-content{
    margin-left: 120px;
    margin-bottom: 10px;
    margin-right: 120px;
    margin-top: -5px;
}
.footer-content h3{
   font-size: 20px;
   margin-bottom: 15px;
   text-align: center;
   color:white;
}
.footer-content ul{
    text-align: center;
}
.footer-content .list{
    padding: 0;
}
.footer-content .list li{
    width: auto;
    text-align: center;
    padding: 4px;
    position: relative;
    list-style-type: none;
}
.footer-content .list li a{
    color: white;
    font-size: 17px;
}
.footer-content .list li a::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: goldenrod;
    transition-duration: .5s;
}
.footer-content .list li a:hover::before{
    width: 70px;
}
.social{
    margin-left: 120px;
    margin-right: -520px;
}
.social h3{
    font-size: 20px;
   margin-bottom: 15px;
   text-align: center;
   color:white;
}
.social a{
    color: white;
    padding: 10px;
    font-size: 25px;
} 

a{
    text-decoration: none;
}
a:hover{
    color: goldenrod;
}
.social-icons i:hover{
    color: goldenrod;
}
.copyright{
    padding: 20px;
    align-items: center;
    color: white;
    text-align: center;
    background: goldenrod;
}